*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: antiquewhite;
    background-image: url(../img/black-white.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    
    

}

main{
    background-color: aliceblue;
    background-image: url(../img/white-page.jpg);
    
    background-size: cover;
    background-position: top right;
    

    max-width: 600px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
    

}

.op-1:hover ,.op-2:hover,.op-3:hover , .op-4:hover{
    background-color: rgba(2, 2, 2, 0.164);
}



img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 5px;
    margin-top: 10px;
    
}

p{
    padding: 5px;
}

header{
    margin-bottom: 5px;
    text-align: center;


    
}

header h1{
    padding: 10px;
    
}

.botao-div{
    text-align: center;
}

p{
    padding: 5px;
}

section h2{
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    width: 100%;
}
section ol{
    padding: 10px 5px 10px 25px;
}

section li{
    padding: 2px;
}

.botao-verificar{
    text-align: center;
    padding: 3px;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 5px;
}

.botao-verificar:hover{
    background-color: rgba(147, 203, 240, 0.342);
}

div#res{
    padding: 10px;
   
    flex-direction: column;
    display: flex;
    justify-content: center;

    align-items: center;
}

footer{
text-align: center;
padding: 1px;
border-top: 1px solid black;
}